<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

    Academic Year
    {{.AcaYear}}
    {{.Fall.Term}}

    {{range .Fall.Courses}}
        Number: {{.Number}}
        Name: {{.Number}}
        Unit: {{.Number}}
    {{end}}

    {{.Spring.Term}}

    {{range .Spring.Courses}}
        Number: {{.Number}}
        Name: {{.Number}}
        Unit: {{.Number}}
    {{end}}

{{end}}

</body>
</html>